<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZAxT8QwDIX/i+fo1KblQNngFlg4CSQYEINL3NaoSavEPUBV/zvp9YAb8GR9sv3e8wSO
	BC0KgpnAYRQKt8RNK2C0zq7UiT2zlRZMrkutoA9MXlC49wnNCuo+OJQnCnFFCg5rf+fr
	fjlcjdzZ+9FVFMBAXt7kWQYKcBh+l6AsEolvLTl8oAOvNFMwdCiLQBrh/SMkObTvYxSX
	PEQwL9M/8uSx6siCkTBSukoi7Ju4WIkScMlH/to3HR0lPveBG17lPs6TtqdX5LrIN9u/
	ulTw9bOz1Reb4rySQ7bJHNd8jLsL/QDz6/wN
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentRenderTypes</key>
	<integer>0</integer>
	<key>adjustmentTimestamp</key>
	<date>2019-04-20T10:20:36Z</date>
</dict>
</plist>
