<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fZHBbsIwDIbfxecIrQUqrTe2A+wC0pjGYdrBULf11iRV4rBNqO++lDKEENrRv63Pn+UD
	lNZplFdynq2BPFGgSbBAQcgPoNELuQVxVUtsJuNMnbINF1JDnk3uFFjHZARlIHQK9gPu
	yZS2p2wDN8Uy6C05yCFJF+M0AQXYtue9MBnHxO9q0vhMex7SyG4blN4xjvBqDRGOxUfw
	ouNGD/nb4cYFZHDbUAF5iY2niCURNpXvXWxZxvLFGjrih3ItjkzV33OO5g7ZXNRLCuKw
	maPWeBEvwsBh0wZ5aHD3OTPFpmbp4yjLRfTkko+XrzW6q6FO/XuAuHDl76NF/w0yM1M1
	w/LvlePqZPt18Zf69LcsnY6mCn7+xtLsfjS9lnt0toXuvfsF
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentRenderTypes</key>
	<integer>0</integer>
	<key>adjustmentTimestamp</key>
	<date>2019-06-22T04:27:04Z</date>
</dict>
</plist>
