<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn5eqafqQ9obgQC9UAgkOiIObOMmifUS7TksV9d9xkrbqgZs1nrFnpgdH
	jCUygu7BYWKKL2TqhkEvlvlaXbBPU3IDOssWKwUhGvKMbIIX6KygCtEhf1BME6TgMM1b
	X4Xh8L4ztnzt3J4iaMg2z6s5KMC2vWlgmQuSioYcvtHBTOhcQWuRh/tCMbt3kG9Y/nSJ
	nVhIoL/6f76Tx72lEjTHjuQqMRtfp8HJCY/jWclQG4/2KYYWdIU2CfF3N6IjITmMfNsc
	7/OfrrT1ZiFEjjgURv7R15ZAP4gaOw43cXMpNMvyXEER/CjxfC16fg9emh6SGy6GSSKb
	UtKayoz1jZavpW/vN0VwMynV0qxtghg4f5//AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2020-04-30T03:48:15Z</date>
</dict>
</plist>
